@import "../../../colors.scss";

.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $backgroundColor;

  .ambiance-painting {
    width: 100%;
    padding-top: 20%;
    position: relative;

    .img-amb-container {
      position: absolute;
      inset: 0;
      transition: opacity 0.7s;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .content {
    flex: 1;
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .home {
    .ambiance-painting {
      padding-top: 33% !important;

      .welcome {
        padding: 8px 16px;
        top: 60%;

        p {
          font-size: 15px;
        }
      }
    }

    .buying-site {
      margin-top: 30px;
    }
  }
}