<div class="about-container" id="about">
  <div class="about">
    <div class="photo" [ngClass]="{'photo': true, 'show': show}">
      <img src="{{ photoPath }}" (load)="show = true" alt="Photo">
    </div>
    <div class="about-txt">
      <p>Native des Côtes d’Armor, fille et petite-fille de peintres amateurs, j’ai été bercée dans mon enfance par le
        son
        des
        vagues malouines sur les bords de la Rance.</p>
      <p>Plus tard les voyages m’ont emmenée jusqu’au Royaume-Uni où je suis tombée sous le charme de la campagne
        anglaise
        et
        particulièrement de l’Ecosse, souvenir mémorable de mon voyage de noces…</p>
      <p>Après avoir élevé ou presque mes quatre garçons j’ai pu me remettre à la peinture de façon plus assidue. Alors
        ressurgissent les souvenirs de ces paysages purs, puissants aux palettes de couleurs complexes. Formidables
        sources
        d’inspiration pour ma peinture, je prends beaucoup de plaisir à retranscrire par un coup de pinceau rapide et
        tonique,
        les ambiances et luminosités anglaises et bretonnes.</p>
      <p>J’aime travailler la peinture à l’huile sur des panneaux de bois, matière noble et lisse sur laquelle les
        couleurs
        s’appliquent avec douceur et fluidité.</p>
      <p>Après un séchage complet, le vernis brillant tendu fait particulièrement bien ressortir les couleurs et
        lumières.
      </p>
      <p>Il est alors temps de se pencher sur ma prochaine source d’inspiration, pour mon plaisir personnel et j’espère
        aussi le
        vôtre…</p>
    </div>
  </div>
</div>