.footer {
  padding: 10px;
  background-color: white;
  position: relative;
  height: 50px;

  .footer-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: opacity 0.7s;

    p {
      cursor: pointer;
    }

    .logo {
      width: 50px;
      height: 50px;
      margin: 0px 10px;
      cursor: pointer;
    }

    .insta {
      position: absolute;
      right: 25px;
      top: 25px;

      img {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    &.show {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 5px;
    height: 30px;

    .footer-content {
      .logo {
        width: 30px;
        height: 30px;
      }

      .insta {
        right: 10px;
        top: 10px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
