.footer {
  padding: 10px;
  background-color: white;
  height: 75px;

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: opacity 0.7s;

    .footer-top {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      p {
        cursor: pointer;
      }

      .logo {
        width: 50px;
        height: 50px;
        margin: 0px 10px;
        cursor: pointer;
      }
    }

    .footer-bottom {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        margin-top: 5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 2px;
      }
    }

    &.show {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 5px;
    height: 55px;

    .footer-content {
      .footer-top {
        .logo {
          width: 30px;
          height: 30px;
        }
      }

      .footer-bottom {
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
