<div class="footer">
  <div [ngClass]="{ 'footer-content': true, show: show === 2 }">
    <div class="footer-line">
      <p [routerLink]="['/contact']" class="link">Contact</p>
      <img
        class="logo"
        src="{{ environment.picturesUrl + 'logo.webp' }}"
        loading="lazy"
        (load)="show = show + 1"
        alt="Logo"
        [routerLink]="['/']"
      />
      <p [routerLink]="['/about']" class="link">A propos</p>
    </div>

    <div class="footer-line">
      <img
        class="insta"
        (click)="redirectInstagram()"
        src="{{ environment.picturesUrl + 'instagram-logo.webp' }}"
        loading="lazy"
        (load)="show = show + 1"
        alt="Instagram"
      />
    </div>

    <div class="footer-line profile">
      <p>Made with ❤️ by</p>
      <p class="link" (click)="redirectProfile()">Eloi Blt</p>
    </div>
  </div>
</div>
