<div class="grid-content" *ngIf="!loading">
  <div class="go-back" (click)="backMenu()">
    <i class="fas fa-arrow-left"></i>
    <p> Choisir une autre catégorie</p>
  </div>
  <div class="grid" [ngClass]="{'show': show}">
    <div *ngFor="let p of pictures"
      [ngClass]="{'unite': true, 'rectangle': isRectangleOrVertical(p.gridColumn), 'vertical': isRectangleOrVertical(p.gridrow)}"
      [ngStyle]="{'grid-row': p.gridrow, 'grid-column': p.gridColumn}">
      <div class="img-container">
        <img src="{{picturesPath + p.url}}" (load)="loaded()" alt="{{ p.title }}">
        <div class="middle" (click)="showImage(p)">Aperçu</div>
      </div>
      <div class="label">
        <p>{{ p.title }}</p>
        <p>{{ p.date }}</p>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>

<div *ngIf="clickedPicture" (click)="clickedPicture = null" class="modal">
  <span (click)="clickedPicture = null" class="close">&times;</span>
  <img src="{{picturesPath + clickedPicture.url}}" alt="{{ clickedPicture.title }}">
  <div class="label">
    <p>{{ clickedPicture.title }}</p>
    <p>{{ clickedPicture.date }}</p>
  </div>
</div>