<div class="grid-content" [ngStyle]="!imagesLoaded ? {'display': 'none'} : ''">
  <div class="go-back" (click)="backMenu()">
    <i class="fas fa-arrow-left"></i>
    <p> Choisir une autre catégorie</p>
  </div>
  <div class="grid">

    <div *ngFor="let p of paintings"
      [ngClass]="{'unite': true, 'rectangle': p.gridColumn === '1 / 3', 'vertical': p.gridrow === '1 / 3'}"
      [ngStyle]="{'grid-row': p.gridrow, 'grid-column': p.gridColumn}">
      <div class="img-container">
        <img src="{{p.url}}" alt="{{ p.title }}" (load)="imageLoaded()">
        <div class="middle" (click)="showImage(p)">Aperçu</div>
      </div>
      <div class="label">
        <p>{{ p.title }}</p>
        <p>{{ p.date }}</p>
      </div>
    </div>

  </div>
</div>

<ngx-loading [show]="!imagesLoaded"></ngx-loading>

<div *ngIf="clickedPicture" (click)="clickedPicture = null" class="modal">
  <span (click)="clickedPicture = null" class="close">&times;</span>
  <img src="{{ clickedPicture.url }}" alt="{{ clickedPicture.title }}">
  <div class="label">
    <p>{{ clickedPicture.title }}</p>
    <p>{{ clickedPicture.date }}</p>
  </div>
</div>