@import "../../../../colors.scss";

.admin-login {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .inputs {
    border: 1px solid $anthraciteGrey;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 20%;

    h1 {
      align-self: center;
      color: $anthraciteGrey;
      margin-bottom: 20px;
      font-size: 30px;
    }

    form {
      display: flex;
      flex-direction: column;

      label {
        color: $anthraciteGrey;

        &:last-of-type {
          margin-top: 20px;
        }
      }

      input {
        border: 1px solid $anthraciteGrey;
        border-radius: 3px;
        height: 30px;
        text-indent: 10px;
      }

      button {
        align-self: center;
        margin-top: 20px;
        padding: 10px;
        background-color: $anthraciteGrey;
        border: none;
        color: white;

        &:not(:disabled):hover {
          opacity: 0.8;
          cursor: pointer;
        }

        &:disabled {
          background-color: grey;
          cursor: default;
        }
      }
    }
  }
}
