<div class="admin-login">
  <div class="inputs">
    <h1>Connexion</h1>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="mail">Mail</label>
      <input id="mail" type="email" formControlName="mail" />

      <div class="errors" *ngIf="mail.invalid && (mail.dirty || mail.touched)">
        <div *ngIf="mail.errors.required">
          Le mail est requis
        </div>
        <div *ngIf="mail.errors.email">
          Le mail est invalide
        </div>
      </div>

      <label for="password">Mot de passe</label>
      <input id="password" type="password" formControlName="password" />

      <div class="errors" *ngIf="password.invalid && (password.dirty || password.touched)">
        <div *ngIf="password.errors.required">
          Le mot de passe est requis
        </div>
        <div *ngIf="password.errors.minlength">
          Le mot de passe doit comporter au moins 8 caractères
        </div>
      </div>

      <div class="error-http" *ngIf="error">
        Erreur de login ou mot de passe
      </div>

      <button type="submit" [disabled]="password.invalid || mail.invalid">Se connecter</button>
    </form>
  </div>
</div>