<div class="menu-container">

  <p class="guide">Catégories de peintures à visiter :</p>

  <div class="menu-content" *ngIf="!loading">
    <div class="unite" *ngFor="let cat of categoryPictures">
      <div
        class="img-container"
        [routerLink]="['/peintures/' + cat.id]"
        [ngClass]="{ show: isLoaded(cat.id) }"
      >
        <img
          src="{{ environment.picturesUrl + cat.coverUrl }}"
          (load)="loaded(cat.id)"
          alt="{{ cat.title }}"
        />
        <div class="middle">
          <p>{{ cat.title }}<p>
          <p>Visiter
          <fa-icon [icon]="'arrow-right'" class="arrow-right"></fa-icon></p>
        </div>
      </div>
    </div>
  </div>
</div>
