<div class="menu-container" *ngIf="!loading">
  <div class="menu-loader" *ngIf="!show">
    <ngx-loading [show]="!show" [config]="{ backdropBackgroundColour: '#1c1c1c'}"></ngx-loading>
  </div>
  <div class="menu-content">
    <div class="unite" *ngFor="let p of picturesMenu">
      <div class="img-container" [ngClass]="{'show': show}">
        <img src="{{picturesPath + p.url}}" (load)="loaded()" alt="{{p.title}}">
        <div class="middle" (click)="select(p.categoryId)">{{ getMenuName(p.categoryId) }}</div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>