@use 'variables' as *;

:host {
  display: flex;
  flex: 1;
}

.menu-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .unite {
    position: relative;

    .img-container {
      position: absolute;
      inset: 0;
      overflow: hidden;
      border-radius: 10px;
      display: flex;

      .middle {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        color: $backgroundColor;
        padding: 10px;
        text-align: center;
        transition: opacity 0.7s;
        display: flex;
        flex-direction: column;
        border-radius: 3px;
        width: 35%;

        p:first-of-type {
          font-weight: bold;
        }

        fa-icon {
          font-size: 13px;
        }
      }

      &:hover {
        .middle {
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .menu-container {
    padding: 0 10%;
    margin: 10px 0;
    flex-wrap: wrap;
    gap: 10px;

    .unite {
      width: calc((80% - 10px) / 3);
      padding-top: calc((80% - 10px) / 3);
    }

    .middle p {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .menu-container {
    padding: 0 40px;
  }

  .middle p {
    font-size: 13px !important;
  }
}

@media screen and (max-width: 1000px) {
  .middle {
    padding: 5px 10px !important;

    p {
      font-size: 12px !important;
    }
  }
}

@media screen and (max-width: 800px) {
  .middle {
    padding: 4px 11px !important;

    p {
      font-size: 10px !important;
    }
  }
}

@media screen and (max-width: 500px) {
  .menu-container {
    flex-direction: column;
    padding: 15px;

    .unite {
      width: 100%;
      padding-top: calc(100%);

      .middle {
        padding: 10px 20px !important;
        font-size: 20px !important;

        p {
          font-size: 15px !important;
        }
      }

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }
  }
}
