<div class="admin-management">
  <div class="admin-management-content">
    <div class="painting-row">
      <div class="fields">
        <h2>Id</h2>
        <h2>Titre</h2>
        <h2>Technique</h2>
        <h2>Grid-row</h2>
        <h2>Grid-column</h2>
        <h2>Spécificités</h2>
        <h2>Catégorie</h2>
        <h2>Forme</h2>
        <h2>Date</h2>
        <h2>URL</h2>
        <h2>Taille</h2>
      </div>
    </div>
    <div class="paintings">
      <div class="scrollable-paintings">
        <div class="painting-row" *ngFor="let p of pictures">
          <div class="fields">
            <input type="number" (change)="update(p)" [(ngModel)]="p.id" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.title" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.technique" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.gridrow" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.gridColumn" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.spec" />
            <input type="number" (change)="update(p)" [(ngModel)]="p.categoryId" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.shape" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.date" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.url" />
            <input type="text" (change)="update(p)" [(ngModel)]="p.size" />
          </div>
          <div class="icon">
            <i class="fas fa-minus-circle" (click)="delete(p)"></i>
          </div>
        </div>

        <div class="painting-row">
          <div class="fields">
            <input type="number" [(ngModel)]="newPicture.id" />
            <input type="text" [(ngModel)]="newPicture.title" />
            <input type="text" [(ngModel)]="newPicture.technique" />
            <input type="text" [(ngModel)]="newPicture.gridrow" />
            <input type="text" [(ngModel)]="newPicture.gridColumn" />
            <input type="text" [(ngModel)]="newPicture.spec" />
            <input type="number" [(ngModel)]="newPicture.categoryId" />
            <input type="text" [(ngModel)]="newPicture.shape" />
            <input type="text" [(ngModel)]="newPicture.date" />
            <input type="text" [(ngModel)]="newPicture.url" />
            <input type="text" [(ngModel)]="newPicture.size" />
          </div>
          <div class="icon">
            <i class="fas fa-check" (click)="createNewPicture()" [ngClass]='{"active": canCreate()}'></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>