<div class="admin-management">
  <div class="admin-management-content">
    <div class="painting-row headers">
      <div class="fields">
        <h2>Id</h2>
        <h2>Titre</h2>
        <h2>Technique</h2>
        <h2>Grid-row</h2>
        <h2>Grid-column</h2>
        <h2>Spécificités</h2>
        <h2>Catégorie</h2>
        <h2>Forme</h2>
        <h2>Date</h2>
        <h2>URL</h2>
      </div>
    </div>
    <div class="scrollable-paintings">
      <div class="painting-row">
        <div class="fields">
          <input type="number" [(ngModel)]="newPainting.id" />
          <input type="text" [(ngModel)]="newPainting.title" />
          <input type="text" [(ngModel)]="newPainting.technique" />
          <input type="text" [(ngModel)]="newPainting.gridrow" />
          <input type="text" [(ngModel)]="newPainting.gridColumn" />
          <input type="text" [(ngModel)]="newPainting.spec" />
          <input type="number" [(ngModel)]="newPainting.categoryId" />
          <input type="text" [(ngModel)]="newPainting.shape" />
          <input type="text" [(ngModel)]="newPainting.date" />
          <input type="text" [(ngModel)]="newPainting.url" />
        </div>
        <div class="icon">
          <i class="fas fa-check" (click)="createNewPainting()" [ngClass]='{"active": canCreate()}'></i>
        </div>
      </div>
    </div>
  </div>
</div>