<div class="admin-management">
  <div class="admin-management-content" *ngIf="pictures && categoryPictures">
    <div class="add">
      <div class="add-item">
        <h1>Ajouter une catégorie :</h1>
        <div class="picture">
          <div class="picture-line">
            <p>Nom</p>
            <input type="text" [(ngModel)]="newCategoryPicture.name" />
          </div>
          <fa-icon [icon]="'check'" class="check" (click)="createNewCategoryPicture()" title="Créer"
            [ngClass]='{"active": canCreateCategoryPicture()}'></fa-icon>
        </div>
      </div>
      <div class="add-item">
        <h1>Ajouter une peinture :</h1>
        <div class="picture">
          <div class="picture-line">
            <p>Titre</p>
            <input type="text" [(ngModel)]="newPicture.title" />
          </div>
          <div class="picture-line">
            <input #upload type="file" id="file" (change)="handleFileInput($event.target)">
          </div>
          <div class="picture-line">
            <p>Technique</p>
            <input type="text" [(ngModel)]="newPicture.technique" />
          </div>
          <div class="picture-line"
            title="Aide : soit un chiffre, soit deux chiffres de la forme 1 / 3 (avec des espaces autour de /). Le premier signifie le départ et le second l'arrivée + 1. Ex : 1 / 3 signifie de la ligne 1 à la ligne 2">
            <p>Ligne</p>
            <input type="text" [(ngModel)]="newPicture.gridrow" />
          </div>
          <div class="picture-line"
            title="Aide : soit un chiffre, soit deux chiffres de la forme 1 / 3 (avec des espaces autour de /). Le premier signifie le départ et le second l'arrivée + 1. Ex : 1 / 3 signifie de la colonne 1 à la colonne 2">
            <p>Colonne</p>
            <input type="text" [(ngModel)]="newPicture.gridColumn" />
          </div>
          <div class="picture-line">
            <p>Tags</p>
            <ng-select [items]="specifications" bindLabel="name" bindValue="name" [(ngModel)]="newPicture.spec">
            </ng-select>
          </div>
          <div class="picture-line">
            <p>Année</p>
            <input type="text" [(ngModel)]="newPicture.date" />
          </div>
          <div class="picture-line">
            <p>Catégorie</p>
            <ng-select [items]="categoryPictures" bindLabel="name" bindValue="id" [(ngModel)]="newPicture.categoryId">
            </ng-select>
          </div>
          <div class="picture-line">
            <p>Taille</p>
            <input type="text" [(ngModel)]="newPicture.size" />
          </div>

          <fa-icon [icon]="'check'" class="check" (click)="createNewPicture()" title="Créer"
            [ngClass]='{"active": canCreatePicture()}'></fa-icon>
        </div>
      </div>
    </div>

    <div *ngFor="let category of categoryPictures" class="category">
      <div class="category-actions">
        <input type="text" class="category-name" (change)="updateCategoryPicture(category)"
          [(ngModel)]="category.name" />
        <fa-icon [icon]="'minus-circle'" class="minus-circle" title="Supprimer la catégorie"
          (click)="deleteCategoryPicture(category)"></fa-icon>
      </div>
      <div class="category-content">
        <div class="picture" *ngFor="let picture of getPicturesByCategory(category.id)">
          <div class="picture-line">
            <p>Titre</p>
            <input type="text" (change)="updatePicture(picture)" [(ngModel)]="picture.title" />
          </div>
          <img src="{{ environment.picturesUrl + picture.url}}" (load)="loaded(picture.id)" alt="{{ picture.title }}">
          <div class="picture-line">
            <p>Technique</p>
            <input type="text" (change)="updatePicture(picture)" [(ngModel)]="picture.technique" />
          </div>
          <div class="picture-line"
            title="Aide : soit un chiffre, soit deux chiffres de la forme 1 / 3 (avec des espaces autour de /). Le premier signifie le départ et le second l'arrivée + 1. Ex : 1 / 3 signifie de la ligne 1 à la ligne 2">
            <p>Ligne</p>
            <input type="text" (change)="updatePicture(picture)" [(ngModel)]="picture.gridrow" />
          </div>
          <div class="picture-line"
            title="Aide : soit un chiffre, soit deux chiffres de la forme 1 / 3 (avec des espaces autour de /). Le premier signifie le départ et le second l'arrivée + 1. Ex : 1 / 3 signifie de la colonne 1 à la colonne 2">
            <p>Colonne</p>
            <input type="text" (change)="updatePicture(picture)" [(ngModel)]="picture.gridColumn" />
          </div>
          <div class="picture-line">
            <p>Tags</p>
            <ng-select [items]="specifications" (change)="updatePicture(picture)" bindLabel="name" bindValue="name"
              [(ngModel)]="picture.spec">
            </ng-select>
          </div>
          <div class="picture-line">
            <p>Année</p>
            <input type="text" (change)="updatePicture(picture)" [(ngModel)]="picture.date" />
          </div>
          <div class="picture-line">
            <p>URL</p>
            <input type="text" (change)="updatePicture(picture)" [(ngModel)]="picture.url" />
          </div>
          <div class="picture-line">
            <p>Taille</p>
            <input type="text" (change)="updatePicture(picture)" [(ngModel)]="picture.size" />
          </div>
          <fa-icon [icon]="'minus-circle'" class="minus-circle" title="Supprimer la peinture"
            (click)="deletePicture(picture)"></fa-icon>
        </div>
      </div>
    </div>
  </div>