<div class="navbar">
  <div class="nav-top">
    <i class="fas fa-bars" (click)="showMenu = !showMenu"></i>
    <div [ngClass]="{'logo-left': true, 'show': show}" *ngIf="logo" (click)="showMenu = false" [routerLink]="['/']">
      <img src="{{ environment.picturesUrl + logo.url }}" loading="lazy" (load)="show = true" alt="Logo">
      <h2>Marie-Servane Bellet</h2>
    </div>
  </div>

  <div [ngClass]="{'onglets': true, 'showMenu': showMenu}">
    <div class="onglet" (click)="showMenu = false" [routerLink]="['/about']">
      A propos
    </div>
    <div class="onglet" (click)="showMenu = false" [routerLink]="['/contact']">
      Contact
    </div>
  </div>
</div>