.footer {
  padding: 10px;
  background-color: white;

  .footer-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: opacity 0.7s;

    .footer-line {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .link {
        cursor: pointer;
      }

      .logo {
        width: 50px;
        height: 50px;
        margin: 0px 10px;
        cursor: pointer;
      }

      .insta {
        margin-top: 5px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-right: 2px;
      }

      &.profile {
        justify-content: flex-end;

        p {
          font-size: 14px;
        }

        .link {
          margin-left: 3px;
          font-weight: bold;
        }
      }
    }

    &.show {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 5px;

    .footer-content {
      .footer-line {
        .logo {
          width: 30px;
          height: 30px;
        }

        .insta {
          width: 20px;
          height: 20px;
        }

        .etsy {
          width: 30px;
          height: 20px;
        }

        &.profile {
          justify-content: center;
          margin-top: 10px;
        }
      }
    }
  }
}
